@charset "utf-8";
.mainBox{
    padding: 140px 0 140px 0;
}
.mainBoxLeft{
    float: left;
    width:644px;
}
.mainBoxLeft .item{
    background: url(../images/examp-p01.png) no-repeat top center;
    width:644px;height:532px;
    padding-left:30px;
    padding-top:40px;
    color:#fff;
}
.mainBoxLeft .item .title,.mainBoxRight .item .title{
    font-size:30px;
}
.mainBoxRight{
    float: left;
    margin-left:24px;
    width:532px;
}
.mainBoxRight .box2{
    background: url(../images/examp-p02.png) no-repeat top center;
}
.mainBoxRight .box3{
    background: url(../images/examp-p03.png) no-repeat top center;
}
.mainBoxRight .item{
    width:532px;height:254px;
    padding-left:24px;
    padding-top:40px;
    color:#fff;
}
.mainBoxRight .item:last-child{
    margin-top: 24px;
}
.mainBoxLeft .item .intro,.mainBoxRight .item .intro{
    font-size:20px;
    margin-top:10px;
}
.boxTitle{
    width:100%;
    border-bottom: 1px solid #BFBFBF;
    padding-bottom: 15px;
    font-size: 32px;
    color:#2E3233;
    margin-bottom: 28px;
}
.mainBox2{
    padding-top:140px;
}
.mainBox2 .item{
    background: #fff;
    height:430px;
}
.mainBox2 .item .txt{
    float: right;
    width: 380px;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    color: #000000;
    line-height: 36px;
    padding: 140px 45px 0 0;
}
.mainBox2 .item .txt span{
    display: inline-block;
    width: 123px;
    height: 1px;
    background: #000;
    margin-right: 30px;
    vertical-align: middle;
}
.mainBox3{
    padding-top:140px;
    padding-bottom: 140px;
}
.mainBox3 .newsList{
    height: 406px;
}
.mainBox3 .newsList li{
    float: left;
    margin-left:16px;
    width:288px;
    transition: 0.3s;
}
.mainBox3 .newsList li:hover{
    box-shadow: 0 5px 10px 0 #ddd;
    cursor: pointer;
    margin-top:30px;
}
.mainBox3 .newsList li img{
    width:288px;
    height: 268px;
    overflow: hidden;
}
.mainBox3 .newsList li a{color:#2E3233;}
.mainBox3 .newsList li:first-child{
    margin-left: 0;
}
.mainBox3 .newsList li .newsIntro{
    padding:20px 20px 20px 20px;
    background: #fff;
    height: 138px;
    width:288px;
}
.mainBox3 .newsList li .newsIntro .time{
    margin-bottom:15px;
    height: 30px;
    position: relative;
}
.mainBox3 .newsList li .newsIntro .time .day{
    font-size: 32px;
    /*font-family: FZLanTingHeiS-EB-GB Regular, FZLanTingHeiS-EB-GB Regular-Regular;*/
    font-weight: 600;
    text-align: left;
    color: #157dd6;
}
.mainBox3 .newsList .month{
    font-size:12px;
    color:#2E3233;
    line-height:16px;
    width:31px;
    display: inline-block;
}
.mainBox3 .newsList .time:after{
    width:39px;
    background: #157DD6;
    height: 3px;
    display: inline-block;
    content: '';
    margin-left: 20px;
    vertical-align: top;
    line-height: 34px;
    position: absolute;
    top:15px;
}
.mainBox3 .newsList li .newsIntro .info{
    font-size:14px;
    color:#2E3233;
    line-height: 20px;
    width:256px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.mainBox4{
    padding:80px 0 100px 0;
    background: #fff;
}
.mainBox4 .boxTitle{
    border:0;
    margin-bottom: 0px;
}
.item-txt{
    position: absolute;
    top:150px;
    left: 0;
    width:100%;
    text-align: center;
    color:#fff;
}
.item-txt .title{
    font-size:30px;

}
.item-txt .pre{
    display: block;
    content: '';
    width:114px;
    height: 1px;
    background: #fff;
    margin:25px auto;
}
.item-txt .intro{
    font-size:16px;
    line-height: 28px;
    margin-top:60px;
}
.imgInfo{
    margin:290px auto;
    width:1200px;
    color:#fff;
    text-align: right;
}
.imgInfo p:first-child{
    font-size:68px;
}
.imgInfo p:last-child{
    margin-top:50px;
    font-size:28px;
    line-height: 48px;
}
.el-carousel__arrow{
    width:62px;
    height: 130px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.el-carousel__arrow--left{
    background: url(../images/arrow-left.png) no-repeat;
    left:0;
}
.el-carousel__arrow--right{
    background: url(../images/arrow-right.png) no-repeat;
    right:0;
}
.el-carousel__arrow i{
    display: none;}
.el-carousel__arrow:hover{
    background-color:transparent ;
    opacity: .6;
}
.swiper-2 .el-carousel__arrow{
    width:85px;
    height: 115px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.swiper-2 .el-carousel__arrow--left{
    background: url(../images/arrow-s-left.png) no-repeat;
    left:50%;
    /*margin-left:-560px;*/
    margin-left:-600px;
}
.swiper-2 .el-carousel__arrow--right{
    background: url(../images/arrow-s-right.png) no-repeat;
    right:50%;
    /*margin-right:-560px;*/
    margin-right:-600px;
}
.el-carousel{width:100%}

.el-carousel__button{
    width:10px;height:10px;border-radius:10px;
}
.is-active .el-carousel__button{
    background: #5AB7E2;
}
.el-carousel-item img{
    width:100%;height:100%
}

